body {
	margin:0 auto;
	padding: 0;
	height:100%;
}

.error {
	color: #FF0000;
}

a {
	color:#000000;
}

a:hover {
	color:#fc5531;
	text-decoration:none;
}

li {
	list-style-type:none;
}