html {
	font-family: "HarmonyOS Sans Medium";
}

body {
	margin:0 auto;
	padding: 0;
	height:100%;
	background-image: url("//www.zerocore.xyz/css/bg.jpeg");
	background-size: 100%;
	background-attachment: fixed;
	overflow-x:hidden;
}

.error {
	color: #FF0000;
}

a {
	color:#000000;
}

a:hover {
	color:#fc5531;
	text-decoration:none;
}

li {
	list-style-type:none;
}